{% extends "dashboard/dashboard.html" %}
{% block title %}Zmiana hasła {% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block screen %}
    <div class="card">
        <h5 class="card-header">Zmiana hasła </h5>
        <div class="card-body">
            <p>Wypełnij poniższy formularz, aby zmienić hasło</p>
            <form action="." method="post">
                {{ form|crispy }}
                <p><input class="btn btn-info" id="registerbutton" type="submit" value="Zmień hasło"></p>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}