{% extends "base.html" %}

{% block title %}Resetowanie hasła{% endblock %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/registration/login.css" %}" type="text/css"/>
{% endblock %}

{% block content %}
    <h1>Zerowanie hasła</h1>
    {% if validlink %}
        <p>Wpisz dwukrotnie nowe hasło: </p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input class="btn btn-info" type="submit" value="Zmień hasło"/></p>
        </form>
    {% else %}
        <p>Łącze pozwalające na reset hasła jest nieprawidłowe, ponów procedurę resetowania hasła.</p>
    {% endif %}
{% endblock %}