{% extends "dashboard/dashboard.html" %}
{% block title %}Generuj plan{% endblock %}
{% load static %}
{% load crispy_forms_tags %}




{% block screen %}

    <div class="card" style="width: 90rem;">
        <h5 class="card-header">Generuj plan</h5>
        <div class="card-body">
            <div class="card">
                <h5 class="card-header">Określ główne parametry</h5>
                <div class="card-body">
                    {% if is_generated == False %}
                        <p class="font-weight-bolder">Plan nie mógł zostać wygenerowany z uwagi na dostępność sal,
                            wykładowców, bądź grup!</p>
                    {% endif %}
                    {% if items_count == True %}
                        <p class="font-weight-bolder">Do planu nie zostały przydzielone żadne jednostki zajęciowe! </p>
                    {% endif %}
                    <form action="." method="post">
                        {{ add_schedule_form|crispy }}
                        {% csrf_token %}
                        <input class="btn btn-info" id="registerbutton" name="create_schedule" type="submit"
                               value="Stwórz plan">
                    </form>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Podpięte jednostki zajęciowe</h5>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <th scope="col">Nazwa zajęć:</th>
                        <th scope="col">Rodzaj zajęć:</th>
                        <th scope="col">Liczba jednostek godzinowych:</th>
                        <th scope="col">Numer grupy:</th>
                        <th scope="col">Liczebność grupy:</th>
                        <th scope="col">Prowadzący:</th>
                        <th scope="col">Opcje</th>
                        </thead>
                        <tbody>
                        {% for item, lecturer in schedule_items %}
                            <tr>
                                <th scope="row">{{ item.lecture.lecture_name }} </th>
                                <th>{{ item.lecture.get_type_of_lecture_display }}</th>
                                <th>{{ item.lecture_units }}</th>
                                <th>{{ item.group.group_number }}</th>
                                <th>{{ item.group.quantity }}</th>
                                <th> {{ lecturer.lecturer }} </th>
                                <th><a class="btn btn-outline-info btn-sm managebtn"
                                       href="{% url 'delete_schedule_item' id=item.id %}">Usuń jednostkę zajęciową</a>
                                </th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Dodaj jednostki zajęciowe</h5>
                <div class="card-body">

                    <form action="." method="post">
                        {% csrf_token %}
                        {{ add_schedule_item_form|crispy }}
                        {{ add_schedule_item_form.errors }}
                        {{ add_schedule_item_form.non_field_errors }}
                        <input class="btn btn-info" id="registerbutton" name="add_schedule_item" type="submit"
                               value="Dodaj jednostkę zajęciową">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}