{% extends "dashboard/dashboard.html" %}
{% block title %}Generuj plan{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block screen %}
    <div class="card">
      <h5 class="card-header">Generuj plan</h5>
      <div class="card-body">
        <div class="card">
          <h5 class="card-header">Wybierz kierunek</h5>
          <div class="card-body">

          </div>
        </div>
        <div class="card">
          <h5 class="card-header">Przypisz jednostki zajęciowe</h5>
          <div class="card-body">

          </div>
        </div>
      </div>
    </div>
{% endblock %}