{% extends "dashboard/dashboard.html" %}
{% block title %}Edycja sali{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block screen %}
    <div class="card">
        <h5 class="card-header">Edytuj salę</h5>
        <div class="card-body">
            <form action="." method="post">
                {{ form|crispy }}
                {% csrf_token %}
                <p>{{ error }}</p>
                <input class="btn btn-info" id="registerbutton" style="margin-bottom: 0.7rem;" type="submit" value="Zapisz zmiany">
            </form>
            <div class="modal fade" id="deleteRoomModal" tabindex="-1" role="dialog"
                 aria-labelledby="deleteRoomModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteRoomModalLabel">Potwierdź usunięcie
                                sali</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Czy jesteś pewien, że chcesz usunąć salę?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-info managebtn btn-sm" data-dismiss="modal">Powrót
                                do listy sal</a>
                            <a class="btn btn-outline-info btn-sm managebtn"
                               href="{% url 'delete_room' id=id %}">Usuń salę</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-outline-info" data-toggle="modal"
               data-target="#deleteRoomModal" href="#">Usuń salę</a></th>
        </div>
    </div>
{% endblock %}