{% extends "dashboard/dashboard.html" %}
{% block title %}Zarządzanie salami{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
    <link rel='stylesheet' href="{% static 'css/schedule/year_group_management.css' %}" type="text/css"/>
{% endblock %}

{% block screen %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <div class="card">
        <h5 class="card-header">Lista sal</h5>
        <div class="card-body">
            <form method="get">
                <p>{{ search_form.query.label }}</p>
                <p>{{ search_form.query }}<input id="searchbutton" class="btn btn-info" type="submit" value="Wyszukaj">
                </p>
            </form>
            <table class="table">
                <thead>
                <th scope="col">Nazwa/numer</th>
                <th scope="col">Pojemność</th>
                <th scope="col">Opis</th>
                <th scope="col">Opcje</th>
                </thead>
                <tbody>
                {% for room in rooms %}
                    <tr>
                        <th scope="row">{{ room.room_name }}</th>
                        <th> {{ room.capacity }}</th>
                        <th>{{ room.description }}</th>
                        <th><a class="btn btn-info btn-sm managebtn" href="{% url 'edit_room' id=room.id %}">Zarządzaj
                            salą</a>
                            <div class="modal fade" id="deleteRoomModal" tabindex="-1" role="dialog"
                                 aria-labelledby="deleteRoomModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteRoomModalLabel">Potwierdź usunięcie
                                                sali</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Czy jesteś pewien, że chcesz usunąć salę?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#" class="btn btn-info managebtn btn-sm" data-dismiss="modal">Powrót
                                                do listy sal</a>
                                            <a class="btn btn-outline-info btn-sm managebtn"
                                               href="{% url 'delete_room' id=room.id %}">Usuń salę</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-outline-info btn-sm managebtn" data-toggle="modal"
                               data-target="#deleteRoomModal" href="#">Usuń salę</a></th>
                    </tr>
                {% empty %}
                    <p>Brak wyników dla podanego wyszukiwania</p>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
            <span class="step-links">
                {% if rooms.has_previous %}
                    <a class="pagbtn btn btn-info" href="?page=1">pierwsza</a>
                    <a class="pagbtn btn btn-info" href="?page={{ rooms.previous_page_number }}">poprzednia</a>
                {% endif %}

                <span class="current">
                    Strona {{ rooms.number }} z {{ rooms.paginator.num_pages }}
                </span>

                {% if rooms.has_next %}
                    <a class="pagbtn btn btn-info" href="?page={{ rooms.next_page_number }}">następna</a>
                    <a class="pagbtn btn btn-info" href="?page={{ rooms.paginator.num_pages }}">ostatnia</a>
                {% endif %}
            </span>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">Dodaj salę</h5>
            <div class="card-body">
                <form action="." method="post">
                    {{ form|crispy }}
                    <p>{{ error }}</p>
                    {% csrf_token %}
                    <input class="btn btn-info" id="registerbutton" type="submit" value="Dodaj salę">
                </form>

            </div>
{% endblock %}