{% extends "dashboard/dashboard.html" %}
{% block title %}Zarządzaj kierunkiem{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block screen %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <div class="card" style="width: 60rem;">
        <h5 class="card-header">Zarządzaj kierunkiem</h5>
        <div class="card-body">
            <form action="." method="post">
                {{ form|crispy }}
                {% csrf_token %}
                <input class="btn btn-info" id="registerbutton" type="submit" value="Zapisz zmiany"
                       style="margin-bottom: 0.7rem;">
            </form>
            <div class="modal fade" id="deleteYearModal" tabindex="-1" role="dialog"
                 aria-labelledby="deleteYearModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteYearModalLabel">Potwierdź usunięcie
                                kierunku/roku</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Czy jesteś pewien, że chcesz usunąć kierunek/rok?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">
                                Powrót do zarządzania kierunkiem
                            </button>
                            <a href="{% url 'delete_year' id=id %}"
                               class="btn btn-outline-info managebtn btn-sm" type="submit">Usuń
                                kierunek </a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-outline-info" data-toggle="modal"
               data-target="#deleteYearModal" href="#">Usuń kierunek</a>
        </div>
    </div>
    <div class="card" style="width: 60rem;">
        <h5 class="card-header">Grupy powiązane z kierunkiem</h5>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <th scope="col">Numer grupy</th>
                <th scope="col">Liczebność</th>
                <th scope="col">Opcje</th>
                </thead>
                <tbody>
                {% for group in groups %}


                    <tr>
                        <th scope="row">{{ group.group_number }}</th>
                        <th> {{ group.quantity }}</th>
                        <th>
                            <div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog"
                                 aria-labelledby="deleteGroupModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteGroupModalLabel">Potwierdź usunięcie
                                                grupy</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Czy jesteś pewien, że chcesz usunąć grupę?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">
                                                Powrót do listy grup
                                            </button>
                                            <a href="{% url 'delete_group' id=group.id pk=data.id %}"
                                               class="btn btn-outline-info btn-sm" type="submit">Usuń
                                                grupę {{ group.id }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-outline-info" data-toggle="modal"
                                    data-target="#deleteGroupModal">
                                Usuń grupę
                            </button>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url "add_group" id=data.id %}" class="btn btn-info" id="registerbutton" type="submit">Dodaj
                grupę</a>
        </div>
    </div>

    <div class="card" style="width: 60rem;">
        <h5 class="card-header">Zajęcia przypisane do kierunku</h5>
        <div class="card-body">
            <table class="table table-striped table-sm">
                <thead>
                <th scope="col">Nazwa zajęć</th>
                <th scope="col">Rodzaj zajęć</th>
                <th scope="col">Opcje</th>
                </thead>
                <tbody>
                {% for lecture in lectures %}
                    <th scope="row">{{ lecture.lecture_name }}</th>
                    <th> {{ lecture.get_type_of_lecture_display }}</th>
                    <th><a href=""
                           class="btn btn-outline-info btn-sm" type="submit">Usuń
                        zajęcia</a></th>
                {% empty %}
                    <p>Brak wyników dla podanego wyszukiwania</p>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card" style="width: 60rem;">
        <h5 class="card-header">Przypisz zajęcia</h5>
        <div class="card-body">
            <form action="." method="post">
                {% csrf_token %}
                <input class="btn btn-info" id="registerbutton" type="submit" value="Dodaj zajęcia">
            </form>
        </div>
    </div>


{% endblock %}