{% extends "dashboard/dashboard.html" %}
{% block title %}Widok planu{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block screen %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <div class="card" style="width: 60rem;">
        <h5 class="card-header">Widok planu: {{ year }}</h5>
        <div class="card-body">
            <div class="schedule-container">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    {% for gr, d in days_group.items %}
                        <li class="nav-item">
                            <a class="nav-link" id="{{ gr }}-tab" data-toggle="tab" href="#{{ gr }}" role="tab"
                               aria-controls="{{ gr }}"
                               aria-selected="true">{{ gr }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="tab-content" id="myTabContent">
                    {% for gr, d in days_group.items %}
                        <div class="tab-pane fade" id="{{ gr }}" role="tabpanel" aria-labelledby="{{ gr }}-tab">
                            <table class="table table-sm table-bordered table-striped schedule-tab">
                                <thead>
                                <th class="" scope="col">Zajęcia:</th>
                                <th class="" scope="col">Od:</th>
                                <th class="" scope="col">Do:</th>
                                <th class="" scope="col">Prowadzący:</th>
                                <th class="" scope="col">Sala:</th>
                                </thead>
                                <tbody>
                                {% for ds in d %}
                                    <th class="text-center" colspan="5" scope="row">{{ ds }}</th>
                                    {% for item, val in data_dict.items %}
                                        {% if item == gr %}
                                            {% for x in val %}
                                                {% for dy, z in x.items %}
                                                    {% if ds == dy %}
                                                        <tr>
                                                            {% for data in z %}
                                                                <td>{{ data }}</td>
                                                            {% endfor %}
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <a class="btn btn-info" id="registerbutton" href="{% url "yg_management" %}">Powrót do widoku kierunków</a>
        </div>
    </div>



{% endblock %}