{% extends "dashboard/dashboard.html" %}
{% block title %}Zarządzanie jednostkami{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
    <link rel='stylesheet' href="{% static 'css/schedule/year_group_management.css' %}" type="text/css"/>
{% endblock %}

{% block screen %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <div class="card">
        <h5 class="card-header">Zarządzanie planami</h5>
        <div class="card-body">
            <form method="get">
                <p>{{ form.query.label }}</p>
                <p>{{ form.query }}<input id="searchbutton" class="btn btn-info" type="submit" value="Wyszukaj"></p>

            </form>


            <table class="table">
                <thead>
                <th scope="col">Kierunek</th>
                <th scope="col">Tok studiów</th>
                <th scope="col">Specjalność</th>
                <th scope="col">Rok akademicki</th>
                <th scope="col">Opcje</th>
                </thead>
                <tbody>
                {% for year, item, schedule_id in page_obj %}


                    <tr>
                        <th scope="row">{{ year.year_name }}</th>
                        <th> {{ year.type_of_studies }}</th>
                        <th>{{ year.speciality }}</th>
                        <th>{{ year.year_period }} {{ year.type_of_semester }}</th>
                        <th><a class="btn btn-info btn-sm managebtn" href="{% url 'manage_year' id=year.id %}">Zarządzaj
                            kierunkiem</a>

                            {% if item == False %}
                                <a class="btn btn-info btn-sm managebtn" href="{% url 'create_schedule' id=year.id %}">Stwórz
                                    plan</a>
                            {% else %}
{#                                <a class="btn btn-info btn-sm managebtn" href="">Edytuj plan</a>#}
                                <a class="btn btn-outline-info btn-sm managebtn" href="{% url 'schedule_view' id=schedule_id.id %}">Wyświetl plan</a>
                            {% endif %}
                        </th>
                    </tr>
                {% empty %}
                    <p>Brak wyników dla podanego wyszukiwania</p>
                {% endfor %}
                </tbody>
            </table>

            <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="pagbtn btn btn-info" href="?page=1">pierwsza</a>
                    <a class="pagbtn btn btn-info" href="?page={{ page_obj.previous_page_number }}">poprzednia</a>
                {% endif %}

                <span class="current">
                    Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a class="pagbtn btn btn-info" href="?page={{ page_obj.next_page_number }}">następna</a>
                    <a class="pagbtn btn btn-info" href="?page={{ page_obj.paginator.num_pages }}">ostatnia</a>
                {% endif %}
            </span>
            </div>


            <a href="{% url "add_year" %}" class="btn btn-info" id="registerbutton" type="submit">Dodaj rok/kierunek</a>
        </div>
    </div>
{% endblock %}