#content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 2px solid #39C0ED;
  border-right: 2px solid #39C0ED;
}
.login-input {
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

h1 {
  color: #39C0ED;
}