#content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 0.3rem solid #39C0ED;
  border-right: 0.3rem solid #39C0ED;
}
.login-input {
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

h1 {
  display: inline-block;
  padding: 1rem 3rem 0 3rem;
  color: #39C0ED;
  border-left: 0.5rem solid #39C0ED;
  border-top: 0.5rem solid #39C0ED;
}

input {
  margin-left: 1rem;
}

a {
  margin-left: 1rem;
}

#id_email {
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

p {
  padding: 0.5rem;
}

