{% extends "base.html" %}
{% block title %}Panel główny{% endblock %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}
    <div class="sidebar-container">
        <div class="sidebar-logo">
            <div class="innerlogo">
                <p class="font-weight-bold" style="color: #fff;">System wspomagający tworzenie planów zajęć</p>
            </div>
        </div>
        <ul class="sidebar-navigation">
            <li class="header">Menu</li>
            <li>
                <a href="{% url 'dashboard' %}">
                    <i class="fa fa-home" aria-hidden="true"></i> Panel główny
                </a>
            </li>
            <li>
                <a href="{% url 'news_view' %}">
                    <i class="fa fa-home" aria-hidden="true"></i> Informacje
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-home" aria-hidden="true"></i> Obłożenie sal (do zrobienia)
                </a>
            </li>
            <li class="header">Zalogowany jako: <span
                    id="loggedas">{{ request.user.first_name }} {{ request.user.last_name }}</span></li>
            <li>
                <a href="#">
                    <i class="fa fa-users" aria-hidden="true"></i> Wiadomości (do zrobienia)
                </a>
            </li>
            <li>
                <a href="{% url "account_details" %}">
                    <i class="fa fa-users" aria-hidden="true"></i> Ustawienia konta
                </a>
            </li>
            <li>
                <a href="{% url "set_preferences" %}">
                    <i class="fa fa-tachometer" aria-hidden="true"></i> Edytuj preferencje godzinowe
                </a>
            </li>
            <li>
                <a href="{% url "logout" %}">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Wyloguj
                </a>
            </li>
            </li>
            {% if user.is_staff %}
                <li class="header">Panel administratora</li>
                <li>
                    <a href="{% url "yg_management" %}">
                        <i class="fa fa-cog" aria-hidden="true"></i> Zarządzaj planami
                    </a>
                </li>
                <li>
                    <a href="{% url 'manage_room' %}">
                        <i class="fa fa-cog" aria-hidden="true"></i> Zarządzaj salami
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-cog" aria-hidden="true"></i> Zarządzaj zajęciami (do zrobienia)
                    </a>
                </li>
                <li>
                    <a href="{% url "register" %}">
                        <i class="fa fa-cog" aria-hidden="true"></i> Dodaj użytkowników
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="content-container">
        <div class="container-fluid">
            {% block screen %}
                <div class="card" style="width: 60rem;">
                    <h5 class="card-header">Widok planu: {{ lecturer }}</h5>
                    <div class="card-body">
                        <table class="table table-sm table-bordered table-striped schedule-tab">
                            <thead>
                            <th class="" scope="col">Zajęcia:</th>
                            <th class="" scope="col">Od:</th>
                            <th class="" scope="col">Do:</th>
                            <th class="" scope="col">Prowadzący:</th>
                            <th class="" scope="col">Sala:</th>
                            </thead>
                            <tbody>
                            {% for day in days %}
                                <th class="text-center" colspan="5" scope="row">{{ day }}</th>
                                {% for item in data_set %}
                                    {% for key, value in item.items %}
                                        {% if key == day %}
                                            <tr>
                                                {% for cls in value %}
                                                    <td>{{ cls }}</td>
                                                {% endfor %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <a class="btn btn-info" id="registerbutton" href="{% url 'pdf_view_personal' id=lecturer.id %}">Pobierz plan w formacie PDF</a>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}