{% extends "base.html" %}
{% block title %}Panel główny{% endblock %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}
    <link rel='stylesheet' href="{% static 'css/dashboard.css' %}" type="text/css"/>
    <div class="sidebar-container">
        <div class="sidebar-logo">
            <img id="" src="{% static 'images/timetable.png' %}" alt="timetable logo">
            <h5>SWTPZ</h5>
        </div>
        <ul class="sidebar-navigation">
            <li class="header">Menu</li>
            <li>
                <a href="{% url 'dashboard' %}">
                    <i class="fa fa-home" aria-hidden="true"></i> Panel główny (do zrobienia)
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-home" aria-hidden="true"></i> Informacje (do zrobienia)
                </a>
            </li>
            <li class="header">Zalogowany jako: <span
                    id="loggedas">{{ request.user.first_name }} {{ request.user.last_name }}</span></li>
            <li>
                <a href="#">
                    <i class="fa fa-users" aria-hidden="true"></i> Wiadomości (do zrobienia)
                </a>
            </li>
            <li>
                <a href="{% url "account_details" %}">
                    <i class="fa fa-users" aria-hidden="true"></i> Ustawienia konta
                </a>
            </li>
            <li>
                <a href="{% url "set_preferences" %}">
                    <i class="fa fa-tachometer" aria-hidden="true"></i> Edytuj preferencje godzinowe
                </a>
            </li>
            <li>
                <a href="{% url "logout" %}">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Wyloguj
                </a>
            </li>
            </li>
            {% if user.is_staff %}
                <li class="header">Panel administratora</li>
                <!--<li>
      <a href="{% url 'manage_schedule' %}">
        <i class="fa fa-cog" aria-hidden="true"></i> Zarządzaj planami (do zrobienia)
      </a>
      </li> -->
                <li>
                    <a href="{% url "yg_management" %}">
                        <i class="fa fa-cog" aria-hidden="true"></i> Zarządzaj planami
                    </a>
                </li>
                <li>
                    <a href="{% url 'manage_room' %}">
                        <i class="fa fa-cog" aria-hidden="true"></i> Zarządzaj salami
                    </a>
                </li>
                                <li>
                    <a href="">
                        <i class="fa fa-cog" aria-hidden="true"></i> Zarządzaj zajęciami (do zrobienia)
                    </a>
                </li>
                <li>
                    <a href="{% url "register" %}">
                        <i class="fa fa-cog" aria-hidden="true"></i> Dodaj użytkowników
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="content-container">
        <div class="container-fluid">
            {% block screen %}

            {% endblock %}
        </div>
    </div>


{% endblock %}